<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>User detail</title>
<link rel="stylesheet" type="text/css" href="../css/styleSheet.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script language="JavaScript" src="../js/registration.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

	<h2 th:text="${user.Username} + ' details : '">user details.</h2>

	<div th:text=${user.id}>User.Role</div>
	<div th:text=${user.Role}>User.Role</div>
	<div th:text=${user.LastLogin}>User.Role</div>

</body>
</html>